#canvasMap{
	position: absolute;
	width: 320px;
	height: 320px;
	z-index: 10;
}

#legende {
	font-size: 15px;
	color: #990000;
	font-weight: bold;
	z-index: 100;
	margin-top: 150px;
	margin-left: 300px;
	background-color: #FFFFFF;
	position: absolute;
	font-family: Arial, sans-serif;
	padding: 4px;
	  
}