body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

#quiz-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 10px; /* Centrer l'image horizontalement */
  max-width: 100%; /* La largeur maximale de l'image est égale à la largeur de son conteneur */
  max-height: 200px; /* La hauteur maximale de l'image est de 300 pixels */
  border-radius: 10px; /* Coins arrondis de l'image */
}

button,
button:hover,
button:active,
button:focus,
button:visited,
.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited {
  text-decoration: none !important;
  outline: none !important;
  cursor: pointer;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  opacity: 1;
  cursor: pointer;
}
#quiz {
  width: 60%;
  overflow-x: hidden;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.015em;
  margin: 0 auto;
  background-color: #2c4a7550;
  border-radius: 10px;
  padding: 20px;
}
#quiz .container-fluid {
  margin: auto;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#quiz-stats {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  margin-left: 2.5%; /* Définir une marge gauche */
  margin-right: 23%; /* Définir une marge droite */
  text-align: center; /* Centrer le texte horizontalement */
}
#quiz-stats > div {
  flex: 1; /* Les colonnes vont occuper le même espace */
  text-align: center; /* Centrer le contenu horizontalement */
}
#quiz-stats .fa-bar-chart {
  font-size: 56px;
  color: rgba(0, 0, 0, 0.8);
}
#quiz-stats > div > p {
  padding: 0;
  margin: 0;
}
#quiz-stats > div > span {
  font-size: 24px;
  display: flex;
  align-items: center; /* Alignement vertical */
  justify-content: center; /* Alignement horizontal */
}
#quiz-stats > div > span.fadeIn {
  animation-duration: 0.375s;
}
#quiz-stats > div > span.fadeOut {
  animation-duration: 0.375s;
}
#quiz-question {
  font-size: 20px;
  font-weight: 600;
  margin: 32px auto 26px auto; /* Marge supérieure et inférieure automatique pour centrer verticalement */
  text-align: center; /* Centrer le texte horizontalement */
}
#quiz-options {
  margin: 26px 0;
  text-align: center; /* Centrer les boutons horizontalement */
}
.quiz-ans-btn {
  font-size: 20px;
  color: #fff;
  /*   display: block;   */
  width: 35%;
  min-height: 75px;
  padding: 5px;
  background-color: #70abf3b9;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 30px;
  outline: none;
  letter-spacing: 0.05em;
  transition: all 0.5s;
  margin: 15px;
  /*   margin:auto; */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  white-space: normal;
}
.quiz-ans-btn:hover {
  color: #fff;
  background-color: #70abf386;
}
.btn.quiz-ans-btn:active,
.btn.quiz-ans-btn:focus {
  color: #fff;
  background-color: #70abf386;
}
.quiz-ans-btn.correct {
  background-color: #3ca93caf;
}
.quiz-ans-btn.incorrect {
  background-color: #e83737d5;
}
#quiz-play-again {
  overflow-y: hidden;
  display: none;
}
#quiz-play-again-btn {
  display: block;
  font-size: 32px;
  color: #fff;
  background-color: #70ABF3;
  border: 8px double #fff;
  border-radius: 14px;
  padding: 5px 10px;
  width: 33%;
  min-height: 100px;
  outline: none;
  letter-spacing: 0.05em;
  transition: all 0.5s;
  margin: 0px auto;
  white-space: normal;
}
#quiz-play-again-btn:hover {
  color: #fff;
  background-color: #476b6b;
}
#quiz-play-again-btn:active,
#quiz-play-again-btn:focus {
  color: #fff;
  background-color: #70abf386;
}
#quiz-play-again-btn.pulse {
  animation-duration: 2s;
}

@media (max-width: 768px) {
  #quiz-stats {
    padding: 12px 0 8px 0;
    font-size: 10px;
  }
  #quiz-stats > div > span {
    font-size: 18px;
  }
  #quiz-stats > div > p > span {
    display: none;
  }
  #quiz-stats .fa-bar-chart {
    font-size: 54px;
  }
  #quiz-question {
    font-size: 16px;
    margin: 20px 0 14px 0;
  }
  #quiz-options {
    margin: 14px 0 20px 0;
  }
  .quiz-ans-btn {
    font-size: 16px;
    min-height: 65px;
  }
  #quiz-play-again-btn {
    font-size: 28px;
    width: 66%;
  }
}

/* Réponses sortantes vers la gauche */
.fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

/* Réponses sortantes vers la droite */
.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}


/* Réponses entrantes à gauche */
.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Réponses entrantes à droite */
.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Question sortante */
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s; /* Durée de l'animation */
  animation-fill-mode: both;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Question entrante */
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s; /* Durée de l'animation */
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro-container {
  background-color: #2c4b757d; /* Couleur de fond blanche avec une opacité de 0.9 */
  border-radius: 10px; /* Coins arrondis du cadre */
  padding: 20px; /* Espacement interne du cadre */
  margin-bottom: 40px; /* Espacement inférieur du cadre */
  width: 70%;
  margin: 0 auto; 
}

.container-heading {
  width: 50%;
  display: flex;
  margin: 12% auto 0; /* Adjust the top margin to move the container down */
  justify-content: center;
  flex-direction: column;
}

.container-heading h1{
  outline: 2px solid MintCream;
  font-size: 6vw;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: 5px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  color: #275E8E;
  text-align: center;
  margin: 0;
  -webkit-text-stroke-width: 0.5px; /* Width of the black border */
  -webkit-text-stroke-color: black; /* Color of the black border */
}

.container-heading h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 7px;
}

.container-heading p {
  font-size: 1.2em;
  text-align: right;
  color: MintCream;
  letter-spacing: .5px;
  -webkit-text-stroke-width: 0.2px; /* Width of the black border */
  -webkit-text-stroke-color: black; /* Color of the black border */
}

.container-heading p span {
  color: #275E8E;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.simple p {
  margin: 10px auto;
  padding: 0;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: .5px;
  -webkit-text-stroke-width: 0px; /* Width of the black border */
}