.background-image {
    position: relative;
    background-image: url("Paysages/Paysage_Auvergne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0; ;
    width: 100%;
    height: 1000px;
    filter: blur(2px);
}


h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 48px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}