h1 {
    position: absolute;
    top: 40%; /* Ajustez cette valeur pour déplacer le titre verticalement */
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-size: 48px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 20px; /* Ajoutez un peu de marge intérieure */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond avec transparence */
    border-radius: 10px; /* Bords arrondis */
}


.background-image {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 100vh;
        overflow: hidden; 
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Paysages/Paysage_Auvergne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* Ajustez la largeur pour contrôler la taille du V */
    border-right: 15px solid transparent; /* Ajustez la largeur pour contrôler la taille du V */
    border-top: 30px solid white; /* Ajustez la hauteur pour contrôler la taille du V */
}

/*###########Bird Section###########*/

#all-bird {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(222px * 5 ); /* Largeur maximale pour afficher cinq cartes d'oiseaux */
    margin: 0 auto; /* Pour centrer le conteneur */
  }
  
  .bird-card {
    width: 200px; /* Largeur des cartes d'oiseaux */
    height: auto;
    margin: 10px; /* Espacement entre les cartes */
    overflow: hidden;
    border: 1px solid #ccc;
    transition: transform 0.3s;
    border-radius: 10px; /* Rendre le cadre rond */
    position: relative; /* Ajout de la position relative pour le contenu de la carte */
    perspective: 1000px; /* Ajout de la perspective pour l'effet 3D */
    backface-visibility: hidden; /* Empêche l'affichage du visage arrière */
  }
  
  .bird-card:hover .bird-card-inner {
    transform: scale(1.05) rotateY(180deg); /* Ajustement pour l'effet de rotation au survol */
  }
  
  .bird-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustement de l'image à la taille du cadre */
    border-radius: 10px; /* Rendre l'image ronde */
    transition: filter 0.4s; /* Temps que le flou apparaisse avec la rotation */
  } 

  .bird-card:hover img {
    filter: blur(5px); /* Appliquer le flou à l'image au survol */
  }
  
  .bird-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d; /* Conserve la face avant visible pendant la rotation */
    overflow: hidden; /* Assurez-vous que le contenu débordant est masqué */
  }
  
  .bird-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg) scale(-1, 1); /* Rotation uniquement sur l'axe Y */
    text-align: center;
    backface-visibility: hidden; /* Empêche l'affichage du nom à l'arrière de la carte */
    color: white; /* Couleur du texte */
    font-weight: bold; /* Style du texte */
    font-size: 18px; /* Taille de la police */
    padding: 5px 10px; /* Espacement autour du texte */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    border-radius: 5px; /* Coins arrondis */
  }

  .bird-info {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
  }
  
  .bird-card:hover .bird-name {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    left: 20%; /* Position horizontale au centre */
    top: 30%; /* Position verticale au centre */
    right: 25%;
    display: flex;
    justify-content: center;
  }