#wrapper{
    width:900px;
    -webkit-perspective: 800;
    -moz-perspective: 800;
    margin: 150px auto 0 auto;
  }
  
  .carrousel{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: Caroussel 20s infinite linear;
    -moz-transform-style: preserve-3d;
    -moz-animation: Caroussel 20s infinite linear;
  }
  
  .plan {
    position: absolute;
    width: 200px; /* Ajustez la largeur selon vos besoins */
    height: 200px; /* Ajustez la hauteur selon vos besoins */
    text-align: center;
  }
  
  /* Assurez-vous que les images ne dépassent pas la taille maximale définie */
  .plan img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse l'élément tout en conservant ses proportions */
    object-position: center; /* Centre l'image horizontalement et verticalement dans l'élément */
  }
  
  @-webkit-keyframes Caroussel{
    
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-360deg); }
  }
  
  @-moz-keyframes Caroussel{
    
    from { -moz-transform: rotateY(0); }
    to { -moz-transform: rotateY(-360deg); }
  }
  
  
  
  .p1{ -webkit-transform: translateZ(300px);}
  .p2{ -webkit-transform: rotateY(45deg) translateZ(300px);}
  .p3{ -webkit-transform: rotateY(90deg) translateZ(300px);}
  .p4{ -webkit-transform: rotateY(135deg) translateZ(300px);}
  .p5{ -webkit-transform: rotateY(180deg) translateZ(300px);}
  .p6{ -webkit-transform: rotateY(225deg) translateZ(300px);}
  .p7{ -webkit-transform: rotateY(270deg) translateZ(300px);}
  .p8{ -webkit-transform: rotateY(315deg) translateZ(300px);}
  
  .p1{ -moz-transform: translateZ(300px);}
  .p2{ -moz-transform: rotateY(45deg) translateZ(300px);}
  .p3{ -moz-transform: rotateY(90deg) translateZ(300px);}
  .p4{ -moz-transform: rotateY(135deg) translateZ(300px);}
  .p5{ -moz-transform: rotateY(180deg) translateZ(300px);}
  .p6{ -moz-transform: rotateY(225deg) translateZ(300px);}
  .p7{ -moz-transform: rotateY(270deg) translateZ(300px);}
  .p8{ -moz-transform: rotateY(315deg) translateZ(300px);}
  